<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:xi="http://www.w3.org/2001/XInclude"
      xmlns:py="http://genshi.edgewall.org/">
  <xi:include href="admin.html" />
  <head>
    <title>Workflow</title>
  </head>

  <body>
    <h2>Manage Workflow</h2>
    <form class="addnew" method="post" action="">
      <fieldset>
        <legend>Graph Options:</legend>
        <div class="field">
          <label><input type="checkbox" name="ops" id="ops" class="graph_option" value="show_ops" /> Show operations</label>
        </div>
        <div class="field">
          <label><input type="checkbox" name="perms" id="perms" class="graph_option" value="show_perms" /> Show permissions</label>
        </div>
      </fieldset>
    </form>
    <img id="graph" src="${href('render-graph')}" alt="Workflow Graph" />
  </body>

</html>
